<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sunt
    porro tempora cumque commodi, obcaecati maxime accusantium quasi ducimus.
    Ipsam?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <icons></icons>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
